.page{
    height: 842px;
    width: 595px;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-print-color-adjust: exact;
}

.content{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    background-clip: content-box;
}

@media print {
    .page{
        page-break-after: always;
    }
}